RESTIC_REPOSITORY=s3:https://s3.replace-with-b2-region.backblazeb2.com/replace-with-bucket-name/mocca
RESTIC_PASSWORD=replace-with-a-unique-random-repository-password
AWS_ACCESS_KEY_ID=replace-with-b2-application-key-id
AWS_SECRET_ACCESS_KEY=replace-with-b2-application-key
AWS_DEFAULT_REGION=replace-with-b2-region
COMPOSE_DIR=/home/sebastian/mocca